/* General Overrides */
input::-ms-clear {
    display: none;
    height: 0;
    width: 0;
}
body{
    font: 400 13.3333px Arial;
}
input[type=text]{
    background-color:initial;
    outline: none;
    border: none;
    color:black;
}

.todos-checkbox {
    -webkit-appearance: none;
    background-color: #f0f0f0;
    border: 1.1px solid #cacece;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    zoom: 0.8;
    margin: 0 3px 0 14px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

.editing .todos-checkbox{
    opacity: 0!important;
}

.todos-checkbox:active, .todos-checkbox:checked:active {
    -webkit-box-shadow:  0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow:  0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.todos-checkbox:checked {
	background-color: rgb(115, 115, 115);
    border: 1px solid #adb8c0;
    -webkit-box-shadow:  0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    -moz-box-shadow:  0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}


/* Todos Containers */

.todos-list-container{
    display:flex;
    justify-content: center;
}

.todos-list{
    display: flex;
    flex-direction:column; 
    direction:rtl;
    text-align: right;
    justify-content: space-between;
    width:200px;
    height:339px;
}

/* Todos Header */

.todos-list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 33px;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(25, 25, 25, 0.5);
    -moz-box-shadow: 0px 2px 2px 0px  rgba(25, 25, 25, 0.5);
    box-shadow: 0px 2px 2px 0px  rgba(25, 25, 25, 0.5);
    line-height: 29px;
    z-index: 1;
    background-image: linear-gradient(rgb(235, 210, 140), rgb(210, 125, 25));
}
.todos-header-text{
    display: flex;
    width: 170px!important;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 26px;
}
.todos-header-add{
    padding-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

.todos-add-btn{
    width: 20px;
    height: 20px;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(157, 157, 157));
    border-radius:15%;
    display: flex;
    flex: 1;
    line-height: 14px;
    justify-content: center;
    align-items: center;
}
.todos-add-btn:after{
    content: "\002b";
    border: solid 0.5px black;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

/* Todos Items */

.todos-list-items{
    height:100%;
    overflow-y:scroll;
    background-color: rgb(229, 229, 229)
}
.todos-list-items>div:nth-child(odd){
    background-color: #f3f6e3;
}
.todos-list-items>div:nth-child(even){
    background-color: white;
}


/* Todos Footer */
.todos-list-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:14px;
    font-size: 9px;
    font-weight: bold;
    line-height: 14px;
    -webkit-box-shadow: 0px 1px 3px -1px rgba(25, 25, 25, 0.5);
    -moz-box-shadow: 0px 1px 3px -1px  rgba(25, 25, 25, 0.5);
    box-shadow: 0px 1px 3px -1px  rgba(25, 25, 25, 0.5);
}


/* list-item */
li:after{
    font-weight: bold;
}
.list-item{
    display: flex; 
    flex-direction:row; 
    justify-content:space-between;
    height:33px;
    align-items: center;
    border-bottom: solid grey  1px;
    font-weight: bold;
}

.list-item.done,
.done .todo-title{
    text-decoration: line-through!important;
    color:grey;
}

.todo-title{
    width: auto;
    margin-left:auto;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: initial;
}

.editing .todo-title{
    font-style: italic;
    text-decoration: underline;
    display: flex;
    flex: 1;
}

button.x-close{
    border: none;
    outline: none;
    background: none;
}
button.x-close:disabled,
button.x-close[disabled]{
    opacity: 0.5!important;
    color: black!important;
}
.x-close:after{
    display: inline-block;
    font-weight: bold;
    content: "x";
}
.x-close:hover{
    opacity:1;
    color:orange;
}
.x-close:active{
   opacity: 1;
   color: red;
}

.overflowing:hover{
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    -moz-animation: scroll-left 6s linear infinite;
    -webkit-animation: scroll-left 6s linear infinite;
    animation: scroll-left 6s linear infinite;
}

@-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(0%); }
    100% { -moz-transform: translateX(300%); }
}
@-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(300%); }
}
@keyframes scroll-left {
    0% { 
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        transform: translateX(0%); 
    }
    100% { 
        -moz-transform: translateX(300%);
        -webkit-transform: translateX(300%);
        transform: translateX(300%); 
    }
}

/* Errors */
.errors{
    display: flex; 
    flex:1; 
    flex-direction:column; 
    justify-content:center;
    padding-top: 15%;
}
.errors-msg-container{
    display: flex; 
    flex:1; 
    justify-content:center
}
.errors-msg{
    width: auto;
    height: 20px;
    line-height: 20px;
    padding: 20px;
    -webkit-box-shadow:  0 1px 2px rgba(0,0,0,0.3), inset 0px -10px 10px -12px rgba(0,0,0,0.3);
    -moz-box-shadow:  0 1px 2px rgba(0,0,0,0.3), inset 0px -10px 10px -12px rgba(0,0,0,0.3);
    box-shadow: 0 1px 2px rgba(0,0,0,0.3), inset 0px -10px 10px -12px rgba(0,0,0,0.3);
    margin: 20px;
    align-items: center;
    font-weight:bold
}
.errors-msg>span{
    color: red;
}
.errors-retry{
    display: flex; 
    flex:1; 
    justify-content:center
}


.btn {
    position: relative;
  
    display: block;
    margin: 30px auto;
    padding: 0;
  
    overflow: hidden;
    background-color: #e67e22;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    -webkit-box-shadow:  0 1px 4px rgba(0, 0, 0, .6);
    -moz-box-shadow:  0 1px 4px rgba(0, 0, 0, .6);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    color: #ecf0f1;
    
    transition: background-color .3s;
  }
  
 
  
  .btn:hover, .btn:focus {
    background-color: #d35400;
  }

  
  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: block;
    padding: 12px 24px;
  }
  
  .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding-top: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }
