/* General Overrides */
input::-ms-clear {
    display: none;
    height: 0;
    width: 0;
}
body{
    font: 400 13.3333px Arial;
}
input[type=text]{
    background-color:initial;
    outline: none;
    border: none;
    color:black;
}

.todos-checkbox {
	-webkit-appearance: none;
	background-color: #f0f0f0;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    margin: 0 0 0 10px;
	border-radius: 3px;
	display: inline-block;
    position: relative;
}

.editing .todos-checkbox{
    opacity: 0.2!important;
}

.todos-checkbox:active, .todos-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.todos-checkbox:checked {
	background-color: #737373;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}


/* Todos Containers */

.todos-list-container{
    display:flex;
    justify-content: center;
}

.todos-list{
    display: flex;
    flex-direction:column; 
    direction:rtl;
    text-align: right;
    justify-content: center;
    margin-top:5%; 
    width:250px;
}

/* Todos Header */

.todos-list-header{
    display: flex; 
    flex-direction:row; 
    justify-content: space-between;
    padding:2%;
    height:25px;
    line-height: 25px;
    border-bottom: solid black 1px;
    background-image: linear-gradient(rgb(255, 166, 0), rgb(255, 145, 0));
}
.todos-header-text{
    display: flex;
    flex: 1 1 90%;
}
.todos-header-btn{
    display: flex;
    flex: 1 1 10%;
    justify-content: center;
}

/* Todos Items */

.todos-list-items{
    height:200px;
    overflow-y:scroll;
    background-color:lightgrey;
}
.todos-list-items>div:nth-child(odd){
    background-color: #f3f6e3;
}
.todos-list-items>div:nth-child(even){
    background-color: white;
}


/* Todos Footer */
.todos-list-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -10px 10px -12px rgba(0,0,0,0.05);
}


/* list-item */
.list-item{
    display: flex; 
    flex-direction:row; 
    justify-content:space-between;
    padding: 2px 5px 2px 0;
    height:30px;
    align-items: center;
    border-bottom: solid black 1px;
}
.todo-title{
    width: auto;
    margin-left:auto;
    padding-right: 2px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.todo-title.done{
    text-decoration: line-through;
    color:grey;
    opacity: 0.8;
}
.editing .todo-title{
    font-style: italic;
    text-decoration: underline;
    display: flex;
    flex: 1;
}

button.x-close{
    opacity:0.5;
    border: none;
    outline: none;
    background: none;
}
button.x-close:disabled,
button.x-close[disabled]{
    opacity: 1!important;
    color: black!important;
}
.x-close:after{
    display: inline-block;
    content: "\00d7";
        zoom:1.5;
}
.x-close:hover{
    opacity:1;
}
.x-close:active{
   opacity: 1;
   color: #B33A3A;
}

.overflowing:hover{
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    -moz-animation: scroll-left 6s linear infinite;
    -webkit-animation: scroll-left 6s linear infinite;
    animation: scroll-left 6s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(0%); }
    100% { -moz-transform: translateX(300%); }
}
@-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(300%); }
}
@keyframes scroll-left {
    0% { 
        -moz-transform: translateX(0%); /* Browser bug fix */
        -webkit-transform: translateX(0%); /* Browser bug fix */
        transform: translateX(0%); 
    }
    100% { 
        -moz-transform: translateX(300%); /* Browser bug fix */
        -webkit-transform: translateX(300%); /* Browser bug fix */
        transform: translateX(300%); 
    }
}