<h1>EmberJS - Laravel Project</h1>
{{#link-to "index" class="button"}}Home{{/link-to}}
{{#link-to "todolist" class="button"}}Todo{{/link-to}}
{{#link-to "templist" class="button"}}Temp{{/link-to}}

{{outlet}}