<div class="errors">
    <div class="errors-msg-container">
        <div class="errors-msg">
            Woops! Got Error: <span>{{errorToDisplayInTemplate}}</span>
        </div>
    </div>
    <div class="errors-retry">
        <button class="btn" type="button" {{action "retry"}}><span>RETRY</span></button>
    </div>
</div>